<div class="container">
  <div class="textbox">
    <p class="quote"><%= @question %></p>
    <p><em>-You</em></p>
  </div>
  <div class="textbox">
    <p class="quote"><%= @answer %></p>
    <p><em>-Your coach</em></p>
  </div>
  <%= link_to "Ask another question", root_path %>
</div>
