<div class="container">
  <div class="textbox">
    <form action="/answer" method="get">
      <label for="question">Ask your coach anything</label>
      <input type="text" id="question" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
